<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="_csrf" content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reset your password</title>
    
  <!--CSS Defenitions  -->
    <link href="resources/css/blog-home.css" rel="stylesheet">
    <link href="resources/css/bootstrap.css" rel="stylesheet">
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/form.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--JS Defenitions  -->
	<script src="resources/js/angular.min.js"></script>
<!-- 	<script src="resources/js/bootstrap.js"></script> -->
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/jquery.js"></script>
	<script src="resources/js/login.js"></script>
	<script src="resources/js/ui-bootstrap-1.1.0.min.js"></script>
      <style>
body {background-color: black;}

</style>
 
</head>
 
</head>

<body>

	<!--angularJS definition  -->
	<div data-ng-app="loginApp" data-ng-controller="loginAppController">
	
	
<div class="container">
<img class="img-responsive" src="resources/img/booboo.png" style="margin: 0 auto;" alt="">
    <form class="form-signin" role="form" ng-submit="register()">
        <h2 class="form-signin-heading">Reset your password</h2>
            <div class="form-group">
                <input type="text" path="username" class="form-control" placeholder="New Password" ng-model="newPassword" autofocus="true"></input>
                <span class="errorMessage">{{newPasswordError}}</span>
            </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="updateMyPassword(newPassword)">Submit</button>
        <br>
        <a href="http://oren-hoffman.com:8090">{{updatedPassword}}</a>
    </form>
</div>
 
    </div>


</body>
</html>
